gittestdemo2/src/main/mule/gittestdemo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d5cf42b2-4e42-4a63-8d41-d94ca6eea438" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gittestdemo2Flow" doc:id="3786ab27-5180-4a40-9011-044763f82d5f" >
		<http:listener doc:name="Listener" doc:id="e1dcec5f-704c-4198-bcca-80af80977dd9" config-ref="HTTP_Listener_config" path="/test2"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d93114c7-0838-44b5-9e4a-3dfdfc48398f" />
		<logger level="INFO" doc:name="Logger" doc:id="35f7d9c4-aaac-4b35-b174-3a4a398a4bb6" />
		<set-payload value="#[payload]" doc:name="Set Payload2" doc:id="7b0c38cb-3cc0-4603-8dd1-2bda1bb67ce3" />
	</flow>
</mule>
